@import "../utils/variables";
@import "../utils/mixin";


.main-content{
    .container-index{
        @include display(flex,center,center);
        background-color: rgba(255,255,255,0.71);
        .textos-main{
            text-align: center;
            p{
                font-family: "Sigmar",serif;
                font-size: 1.5rem;
                padding: 10px;
            }
            h1{
                font-family: "Sigmar",serif;
                font-size: 1.5rem;
                text-align: center;
                color: #000;
                span{
                    @include display(block, none, none);
                    color: $primaryColor;
                    font-size: 3rem;
                }
            }
        }
        img{
            width: 400px;
            height: 600px;
            justify-content: center;
            filter : drop-shadow(10px 10px 20px $black);
        }
    }
    .container-icons{
        @include grid(3,1,1fr,1fr);
        padding: 5%;
        background-color: #85837a;
        align-items: center;
        div{
            justify-content: center;
            text-align: center;
            padding: 20px;
            .fa{
                font-size: 6rem;
                color: $primaryColor;
            }
        }
        p{
            font-family: "Sigmar",serif;
            font-size: 1.5rem;
            padding-top: 50px;
            color: $white;
        }
    }
}

