@import "../utils/variables";
@import "../utils/mixin";

.main-sobreMi {
    .sobreMi {
        background-image: url("../assets/imgs/sobreMi.webp");
        background-size: cover;
        padding: 200px;
        width: 100%;

        h1 {
            font-size: 3.5rem;
            font-weight: 700;
            line-height: 4.5rem;
            margin-bottom: 1rem;
        }
    }

    .contenido-sobreMi {
        @include grid(2, 1, 0.5fr, 0.5fr);
        background-image: linear-gradient(to bottom, rgba(34, 19, 3, 0.95), rgba(222, 204, 173, 1));

        .img-nombre {
            @include display(flex, null, center);
            flex-direction: column;
            margin-top: 10%;
            grid-row: 1;

            h2 {
                background-color: #DECCAD;
                border-radius: 10px;
            }

            img {
                width: 300px;
                height: 300px;
                margin-bottom: 20px;
                border-radius: 50%; // redonda
                box-shadow: 0 0px 20px rgb(255, 255, 255);
            }
        }

        p {
            @include display(inline-block, null, null);
            box-shadow: 0 0px 20px rgb(255, 255, 255);
            border-radius: 10px;
            font-family: "Sigmar", serif;
            font-size: 1rem;
            color: #24282B;
            padding: 10px;
            grid-column: 2;
            margin-top: 7%;
            background-color: #DECCAD;

        }
    }

    section {
        @include display(flex, null, null);
        flex-direction: column;
        background-image: linear-gradient(to top, rgba(34, 19, 3, 0.95), rgba(222, 204, 173, 1));

        .redes-sociales {
            @include display(flex, null, null);
            flex-direction: row;
            grid-column: 1/3;
            margin-top: 100px;

            .social-btn {
                align-items: center;
                padding: 10px 16px;
                border: none;
                border-radius: 12px;
                font-size: 16px;
                font-weight: bold;
                color: white;
                text-decoration: none;
                transition: transform 0.2s, box-shadow 0.2s;
                height: fit-content;
            }

            .social-btn:hover {
                transform: translateY(-2px);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
            }

            .github {
                background-color: #333;
            }

            .linkedin {
                background-color: #0e76a8;
            }

            .whatsapp {
                background-color: #25D366;
            }

            .instagram {
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            }
        }

        .lenguajes-utilizados {
            @include display(flex, center, center);
            flex-direction: column;
            margin-top: 100px;

            p {
                color: #221303;
                ;
                text-shadow: -1px -1px $white,
                    1px -1px 0 $white,
                    -1px 1px 0 $white,
                    1px 1px 0 $white;
                ;
                font-size: 20px;
            }
        }
    }
}