* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #CAC5B9;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header a {
  text-decoration: none;
  text-align: start;
}
header a img {
  width: 12%;
}
header .collapse {
  background-image: linear-gradient(to right, #CAC5B9, #000000);
}
header nav {
  width: 100% !important;
}
header nav ul {
  display: flex;
  justify-content: end;
  align-items: none;
  padding: 0;
  margin: 0;
}
header nav ul li {
  list-style: none;
  margin: 20px;
  font-family: "DM Serif Display", serif;
}
header nav ul li .nav-link {
  color: #FFFFFF;
}
header nav ul li .nav-link:visited {
  color: #FFFFFF;
}
header nav ul li .nav-link:hover {
  color: #85847A;
}
header nav ul li .nav-link:active {
  color: #85847A;
}

footer {
  text-align: center;
  border-top: solid 1px #000000;
}
footer p {
  font-family: "DM Serif Display", serif;
  color: #221303;
  text-align: center;
}

.main-content .container-index {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.71);
}
.main-content .container-index .textos-main {
  text-align: center;
}
.main-content .container-index .textos-main p {
  font-family: "Sigmar", serif;
  font-size: 1.5rem;
  padding: 10px;
}
.main-content .container-index .textos-main h1 {
  font-family: "Sigmar", serif;
  font-size: 1.5rem;
  text-align: center;
  color: #000;
}
.main-content .container-index .textos-main h1 span {
  display: block;
  color: #CAC5B9;
  font-size: 3rem;
}
.main-content .container-index img {
  width: 400px;
  height: 600px;
  justify-content: center;
  filter: drop-shadow(10px 10px 20px #000000);
}
.main-content .container-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 5%;
  background-color: #85837a;
  align-items: center;
}
.main-content .container-icons div {
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.main-content .container-icons div .fa {
  font-size: 6rem;
  color: #CAC5B9;
}
.main-content .container-icons p {
  font-family: "Sigmar", serif;
  font-size: 1.5rem;
  padding-top: 50px;
  color: #FFFFFF;
}

.main-sobreMi .sobreMi {
  background-image: url("../assets/imgs/sobreMi.webp");
  background-size: cover;
  padding: 200px;
  width: 100%;
}
.main-sobreMi .sobreMi h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 1rem;
}
.main-sobreMi .contenido-sobreMi {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(1, 0.5fr);
  background-image: linear-gradient(to bottom, rgba(34, 19, 3, 0.95), rgb(222, 204, 173));
}
.main-sobreMi .contenido-sobreMi .img-nombre {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  grid-row: 1;
}
.main-sobreMi .contenido-sobreMi .img-nombre h2 {
  background-color: #DECCAD;
  border-radius: 10px;
}
.main-sobreMi .contenido-sobreMi .img-nombre img {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 50%;
  box-shadow: 0 0px 20px rgb(255, 255, 255);
}
.main-sobreMi .contenido-sobreMi p {
  display: inline-block;
  box-shadow: 0 0px 20px rgb(255, 255, 255);
  border-radius: 10px;
  font-family: "Sigmar", serif;
  font-size: 1rem;
  color: #24282B;
  padding: 10px;
  grid-column: 2;
  margin-top: 7%;
  background-color: #DECCAD;
}
.main-sobreMi section {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, rgba(34, 19, 3, 0.95), rgb(222, 204, 173));
}
.main-sobreMi section .redes-sociales {
  display: flex;
  flex-direction: row;
  grid-column: 1/3;
  margin-top: 100px;
}
.main-sobreMi section .redes-sociales .social-btn {
  align-items: center;
  padding: 10px 16px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.2s;
  height: fit-content;
}
.main-sobreMi section .redes-sociales .social-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.main-sobreMi section .redes-sociales .github {
  background-color: #333;
}
.main-sobreMi section .redes-sociales .linkedin {
  background-color: #0e76a8;
}
.main-sobreMi section .redes-sociales .whatsapp {
  background-color: #25D366;
}
.main-sobreMi section .redes-sociales .instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.main-sobreMi section .lenguajes-utilizados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.main-sobreMi section .lenguajes-utilizados p {
  color: #221303;
  text-shadow: -1px -1px #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
  font-size: 20px;
}

.main-proyectos {
  background-image: url("../assets/imgs/proyectos.webp");
  text-align: center;
}
.main-proyectos h1 {
  font-size: 3rem;
  color: #86837B;
  padding: 10px;
}
.main-proyectos .container-proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.main-proyectos .container-proyectos a {
  font-family: "Sigmar", serif;
  font-size: 1.2rem;
  color: #86837B;
}
.main-proyectos .container-proyectos a:hover {
  color: #d5cdbc;
}
.main-proyectos .container-proyectos .proyecto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
.main-proyectos .container-proyectos .proyecto:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.main-proyectos .container-proyectos .proyecto img {
  max-width: 100%;
  width: 500px;
  height: 300px;
}
.main-proyectos .logo-github {
  padding: 100px 0px 100px 0px;
}

.main-contacto {
  background-image: linear-gradient(to right, #CAC5B9, #000000);
  text-align: center;
  margin: 50px;
}
.main-contacto div h1 {
  font-size: 3rem;
  color: #FFFFFF;
  padding: 10px;
}
.main-contacto div form {
  align-items: center;
  background-color: #CAC5B9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.main-contacto div form label {
  padding-top: 20px;
  font-family: "DM Serif Display", serif;
  font-size: 20px;
  color: #000;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: column;
}
.main-contacto div form label textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #000;
}
.main-contacto div input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
}
.main-contacto div .botonEnviar {
  background-color: #000;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  font-family: "DM Serif Display", serif;
  font-size: 20px;
}
.main-contacto div .botonEnviar:hover {
  background-color: #85847A;
  color: #FFFFFF;
}

.articulos {
  background-image: url(../assets/imgs/articulos.webp);
  padding: 200px;
  text-align: center;
}
.articulos h1 {
  color: black;
  text-shadow: -1px -1px #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF;
}

.contenido-articulos {
  background: linear-gradient(to bottom right, #f5f5f5, #d3cbb8);
  border-radius: 15px;
  padding: 40px;
  margin: 40px auto;
  max-width: 900px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.contenido-articulos #libro {
  width: 100px;
  margin-bottom: 20px;
}
.contenido-articulos h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.contenido-articulos p {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 20px;
}
.contenido-articulos ul {
  list-style: none;
  padding: 0;
}
.contenido-articulos ul li {
  margin: 10px 0px;
}
.contenido-articulos ul li a {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 500;
  transition: color 0.3s;
}
.contenido-articulos ul li a:hover {
  color: #007bff;
}
.contenido-articulos ul li a:visited, .contenido-articulos ul li a:active {
  color: #4a4a4a;
}
.contenido-articulos ul li a:focus {
  outline: none;
  box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.5);
}

@media (max-width: 990px) {
  .main-content .container-index {
    flex-direction: column;
  }
  .main-content .container-index .textos-main {
    text-align: center;
  }
  .main-content .container-index img {
    width: 400px;
    height: 500px;
  }
  .main-content .container-icons {
    display: block;
  }
  .main-sobreMi .sobreMi {
    padding: 50px;
  }
  .main-sobreMi .contenido-sobreMi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0px;
  }
  .main-sobreMi .contenido-sobreMi .img-nombre {
    margin-top: 0px;
    grid-row: 1;
    align-items: center;
  }
  .main-sobreMi .contenido-sobreMi .img-nombre h2 {
    background-color: #DECCAD;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
  }
  .main-sobreMi .contenido-sobreMi .img-nombre img {
    margin-top: 20px;
  }
  .main-sobreMi .contenido-sobreMi p {
    text-align: center;
  }
  .main-sobreMi section .redes-sociales {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: column;
  }
  .main-sobreMi section .redes-sociales a {
    text-align: center;
  }
  .main-sobreMi section .redes-sociales .social-btn {
    padding: 10px 120px;
  }
  .main-sobreMi section p {
    text-align: center;
  }
  .main-proyectos h1 {
    font-size: 2rem;
  }
  .main-proyectos .container-proyectos {
    display: block;
  }
  .main-proyectos .container-proyectos a {
    font-size: 1.5rem;
  }
  .main-proyectos .container-proyectos .proyecto {
    margin-top: 50px;
  }
  .main-proyectos .container-proyectos .proyecto img {
    max-width: 80%;
    width: 300px;
    height: 200px;
  }
  .articulos {
    padding: 50px;
  }
  .contenido-articulos {
    padding: 20px;
    margin: 20px auto;
  }
  .contenido-articulos ul li a {
    font-size: 0.9rem;
  }
  .contenido-articulos ul li a:hover {
    font-size: 1rem;
  }
}
h1 {
  font-family: "DM Serif Display", serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #000;
}

h2 {
  font-family: "Sigmar", serif;
  font-size: 2rem;
  color: #fff;
  padding: 10px;
  font-weight: bolder;
}

.iconos {
  width: 100px;
  height: 100px;
}

.iconos:hover {
  width: 130px;
  height: 130px;
}

/*# sourceMappingURL=styles.css.map */
